---
import BackToIndex from "@components/logs/BackToIndex.astro";
import AllayData from "@components/logs/AllayData.astro";

import { SectionTypes } from "@modules/sectionTypes";

const {
  num,
  title,
  sectionType = "normal",
  charaData = [],
} = Astro.props;

const sifter = (sectionType) => {
  if (sectionType === "preplay"){
      return {sectionClass: "preplay", sectionId: "chara-make"};
  }else if (sectionType === "appendix"){
      return {sectionClass: "ex", sectionId: "appendix"};
  }else {
      return {sectionClass: "chap", sectionId: `sec${num}`};
  }
};

const {sectionClass, sectionId} = sifter(sectionType);

const hasCharaData = charaData.length !== 0;
---

<section class={sectionClass} id={sectionId}>
  <h2>{title}</h2>
  {
    sectionType === SectionTypes.preplay && (
      <details>
        <summary>クリックしてキャラメイクを開く</summary>
        <div class="chatlog">
          <slot />
        </div>
      </details>
    )
  }
  {
    sectionType === SectionTypes.appendix && (
        <div class="chatlog">
          <slot />
        </div>
    )
  }
  {
    sectionType === SectionTypes.normal && (
      <div class="chatlog">
        <slot />
      </div>
    )
  }
  {
    hasCharaData && (
      <details>
        <summary>クリックしてPCデータを開く</summary>
        <div class="chatlog">
          {charaData.map((el) => (
            <AllayData dataSrc={el} />
          ))}
        </div>
      </details>
    )
  }
  <BackToIndex />
</section>
