---
import { getCollection } from "astro:content";

const { dataSrc } = Astro.props;

const collections = await getCollection('data');
const data = collections.filter((el)=> el.id === dataSrc)[0].data;

//console.log(data);
---

<div class="data enemy">
  <article>
    <div class="first-row">
      <div class="ref-page">『{data.ref.book}』p.{data.ref.page}</div>
      <h3><span class="lv">Lv.{data.lv}</span>{data.name}</h3>
    </div>
    <div class="parameter">
      <ul class="status">
        <li><span class="term">知能</span>{data.int}</li>
        <li><span class="term">知覚</span>{data.sense}</li>
        <li><span class="term">反応</span>{data.reaction}</li>
        <li><span class="term">穢れ</span>{data.kegare}</li>
        <li><span class="term">言語</span>{data.lang}</li>
        <li><span class="term">生息地</span>{data.habitat}</li>
        <li>
          <span class="term">知名度/弱点値</span>{data.famousPoint} / {
            data.weakPoint
          }
        </li>
        <li><span class="term">弱点</span>{data.weak}</li>
        <li><span class="term">先制値</span>{data.initiative}</li>
        <li>
          <span class="term">移動速度</span>{data.speed} / {data.speedAlt}
        </li>
        <li><span class="term">生命抵抗</span>{data.livResist}</li>
        <li><span class="term">精神抵抗</span>{data.mndResist}</li>
      </ul>
      <table class="battle-data">
        <thead>
          <tr>
            <th>攻撃方法（部位）</th>
            <th>命中点</th>
            <th>打撃点</th>
            <th>回避力</th>
            <th>防護点</th>
            <th>HP</th>
            <th>MP</th>
          </tr>
        </thead>
        {
          data.parts.map((part) => (
            <tbody>
              <tr>
                <td>{part.name}</td>
                <td>{part.hit}</td>
                <td>{part.attack}</td>
                <td>{part.avoid}</td>
                <td>{part.guard}</td>
                <td>{part.HP}</td>
                <td>{part.MP}</td>
              </tr>
            </tbody>
          ))
        }
      </table>
      <dl>
        {
          data.skills.map((skill) => (
            <>
              <dt>{skill.name}</dt>
              <dd>{skill.description}</dd>
            </>
          ))
        }
      </dl>
      <table class="reward-data">
        <tbody>
          {
            data.rewards.map((reward) => (
              <tr>
                <th>{reward.roll}</th>
                <td>{reward.data}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <hr />
    <div class="description">
      <p>
        <Fragment set:html={data.description}/>
      </p>
    </div>
  </article>
</div>
